
.container{
        display: flex;
        justify-content: space-between;
        background-color: rgb(100, 147, 162);

  
}
.item1 ul li{
    display: inline;
    padding: 30px;
    font-size: 20px;
    
}
.item1 a{
    text-decoration: none;
    color: blue; 
}

.ite{
    display: flex;
    justify-content: space-around;
   
}

.item2{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    animation-name: x;
    animation-duration: 2s;
    animation-delay: 1s;
    margin-top: 30px;

} 
@keyframes x{
    0%{
        transform: translateY(-500px);
    }
    100%{
        transform: translateY(40px);

    }

}
.image1{
  
    padding: 40px;
    animation-name: show;
    animation-duration: 2s;
    animation-iteration-count: infinite;
 
}
@keyframes show{
   
    50%{
        transform: translateY(30px);
    }
}
.butt{
    background-color:  rgb(129, 166, 179);
    color: rgb(15, 30, 233);
    width: 150px;
    height: 45px;
    font-size: 20px;
    border-radius: 20px;

}
.butt:hover{
    transform: scale(1.1);
    color: rgb(60, 68, 189);
    background-color: rgb(93, 174, 204);

}
.div1{
    display: flex;
   
} 
.div2{
    
    line-height:50px;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}

.shop1{
   color: rgb(146, 140, 138);
}
.div3{
    display: flex;
   
}

.div4{
    line-height:50px;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
}
.shop2{
    color: rgb(146, 140, 138);
}
.div5
{
    display: flex;
}
.div6{
    line-height:50px;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
}
.shop3{
    color:rgb(146, 140, 138);
}
nav{
    display: flex;
    justify-content: space-around;
   
}
.div1:hover{
    transform: scale(1.1);
    color: rgb(100, 147, 162);

}
.div3:hover{
    transform: scale(1.1);
    color: rgb(81, 152, 175);
   
}
.div5:hover{
    transform: scale(1.1);
    color: rgb(41, 160, 199);
}
#contt{
    display:flex;
    justify-content: space-around; 

}

.hed1{
    font-size: 90px;
    color: rgb(40, 40, 53);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.button2{
    color: rgb(231, 231, 236);
    width: 130px;
    height: 40px;
    font-size: 15px;
    background-color: rgb(44, 44, 49);
    border-radius: 20px;
    margin-top: 40px;
    transform: scale(1.1);
    
}
.head4{
    
    line-height: 20px;
    font-size:13px ;
    margin-left: 30px;
  
}
.nnnot{
    font-size: 17px;
 
}
.s98{
 
    font-size: 20px;
    color:rgb(88, 88, 180);
    
}
.cont2{
    display: flex;
  
}
.hed1{
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
 
    font-size: 50px;
   
}
.header{
    
    background-color:  rgb(240, 241, 244);

}
.cont2{
    display: flex;
    justify-content: space-around;
}
header{
    background-color:  rgb(240, 241, 244);
    
}
.cont3{
    display: flex;
    justify-content: space-around;
    
   
}
.mill{
    background-color:  rgb(240, 241, 244);
    margin-top: 30px;
}
.navbar{
    display: flex;
    justify-content:space-between;
    margin-top: 10px;
    background-color:    rgb(240, 241, 245);
    height: 550px;
   
}

#button{
    width: 140px;
    height: 30px;
    color: white;
    background-color: rgb(255, 17, 0);
    font-size: 15px;
 
    
   
}
.last{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    
   
}
.mag{
    width: 65%;
    height: 165%;
   margin-top: 40px;
  
}
.all{
    text-align: center;
    margin-left: 80px;
    margin-top: 150px;
    line-height: 45px;
    
 
}
.new{
    font-size: 40px;
}
.bu{
    width:150px ;
    height: 50px;
    background-color: blue;
    color: aliceblue;
    font-size: 20px;
    margin-top: 20px;
    border-radius:20px;
}
.phot{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  
}
.be{
    display: flex;
    margin-top: 30px;
 
}
.ecri{
    margin-top: 10px;
    line-height: 35px;
    font-size: 20px;

}
.s2{
    color: rgb(25, 42, 194);
}
.id{
    font-size: 35px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.b1{
   
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

 
}
.d{

    font-size: 30px;
    margin-top: 30px;
    color: rgb(247, 247, 248);
}
.D{
    line-height: 40px;
    font-size: 20px;
    margin-top: 20px;
}
.dv1{
    display: flex;
    justify-content: space-around;
    background-color: rgb(48, 46, 46);
    color: rgb(173, 189, 202);
}
.item1 a:hover{
    color: rgb(50, 43, 117);
    transform: scale(1.5);
}
.iteem1:hover{
    transform: scale(1.1);
    background-color:  rgb(191, 194, 200);
   




}
.iteem2:hover{
    transform: scale(1.1);
    background-color:  rgb(191, 194, 200);

}
.iteem3:hover{
    transform: scale(1.1);
    background-color:  rgb(191, 194, 200);

}
.iteem4:hover{
    transform: scale(1.1);
    background-color:  rgb(191, 194, 200);

}
.span{
    margin-left: 40px;
}
.bat{
    background-color: rgb(194, 33, 65);
    color: aliceblue;
    width:130px ;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    margin-left:30px ;
}
.bat:hover{
    transform: scale(1.2);
    background-color: rgb(249, 9, 57);
}
.btm{
    width: 190px;
    height: 40px;
    border-radius: 30px;
    font-size: 20px;
    border-color: bisque;
   
    margin-left: 5px;
    margin-top: 10px;
    background-color:  rgb(220, 220, 222);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.btm:hover{
   color:rgb(247, 247, 255) ;
   background-color: rgb(90, 91, 95);
    
}
.lo{
    width: 40px;
    height: 30px;
    margin-right: 70px;
    
}
.loo{
    width: 40px;
    height: 30px;
    
}
.twit{
    width: 40px;
    height: 30px;
    margin-left: 70px;
    
}
.logo{
    display: flex;
    padding: 60px;
   justify-content: space-around;
}